@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-50;
}

/* microCMSカスタムクラス */
.head1 {
  @apply text-4xl text-gray-800;
}

.head-decoration {
  @apply relative pl-4;
}

.head-decoration::before {
  content: "";
  @apply absolute left-0 top-0 h-full;
  width: 6px; /* 幅を設定 */
  border-radius: 10px;
  background: linear-gradient(to bottom, #fdb3ca, #a9dfe2);
}
